<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
    <h1>URLs Main Page</h1>
  </header>
  <ul>
    <% for (let key in urls) { %>
        <li><a href="<%= urls[key] %>"><%= key %></a> --> <%= urls[key] %></li>
        <a><a href="http://localhost:<%= PORT%>/urls/<%= key%>">Edit</a>
        <form method="POST" action="/urls/<%= key %>/delete"><button type="delete">Delete</button>
          <br><br>
        </form>
      </a>
    <% }; %>
  </ul>
  <a href="/urls/new">Click here to create a new short link</a>
</body>

</html>